.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 29, 0.22);
  padding: 0;
}

.nav-container {
  height: 2.6rem;
  width: 70%;
  border-radius: 3px;
  max-width: 60rem;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0.7rem 0 0 0;
}

.nav-links {
  color: rgb(94, 55, 55);
  text-decoration: none;
  color: #cccccc;
}

.nav-item {
  line-height: 40px;

  font-size: 0.85rem;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  margin: 0 1rem;
}

.nav-item .active {
  color: #ff7800;
}
